body {
    margin: 0;
    padding: 0;
  }
  
  ul li {
    display: inline;
    padding: 0 5px;
  }
  .menu {
    margin: 0 10px;
  }
  
  .menu ul {
    display: inline;
    float: right;
    margin-top: 30px;
  }
  
  .menu img {
    width: 70px;
  }
  
  .group1 {
    padding-right: 5%;
    color: #2aa9cb;
  
  }
  
  .sub-header {
    background-color: #2aa9cb;
    height: 50px;
    padding: 0 50px;
    color: aliceblue;
  }
  .sub-header p {
    display: inline;
  }
  
  .main {
    text-align: center;
    margin-bottom: 2%;
  }
  .main div {
    display: inline-block;
    width: 25%;
    margin: 10px;
    box-shadow: 3px 3px 10px 2px gray;
  }
  
  .main img {
    width: 100%;
  }
  
  button {
    background-color: #b0d036;
    border: none;
    padding: 5px 20px;
    box-shadow: 1px 1px 5px 1px gray;
    color: aliceblue;
  }
  
  .sub {
    background-color: #2aa9cb;
    padding: 20px;
    margin-top: 8%;
    color: aliceblue;
  }
  
  .sub div {
    display: inline-block;
    margin: 0 50px;
  }
  
  .sub div:nth-of-type(2) {
    float: right;
  }
  
  .btn{
      margin-left: 50%;
  }
  
  footer{
      background-color: #2aa9cb;
      text-align: center;
      color: aliceblue;
      height: 30px;
  }
  
  .sub2 div{
      display: inline-block;
      width: 20%;
      margin: 5px 20px;
  }
  
  .sub2 ul li{
      display: block;
  }
  
  .sub2 img {
      width: 70px;
    }